@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-manrope;
        @apply text-base;
        @apply font-normal;
        @apply text-white;
        @apply bg-black;
    }
}

html {
    scroll-behavior: smooth;
}

div.active p:nth-child(3) {
    color: #2F6893;
}

#left-sidebar {
    height: calc(100vh - 86px);
    background: transparent linear-gradient(164deg, rgba(12, 12, 12, 0.7) 0%, rgba(15, 15, 15, 0.7), rgba(57, 57, 57, 0.7) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);
}







/* custom scrollbar */

/* .custom-scroll::-webkit-scrollbar {

    width: 4px;
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #676767;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.custom-scroll::-webkit-scrollbar-corner {
    background: #000;
} */

.hidden-scroll-bar::-webkit-scrollbar {
    width: 0px;
}

.hidden-scroll-bar {
    scrollbar-width: none;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s;
}

.custom-scrollbar:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}


.custom-scrollbar:hover {
    scrollbar-color: #676767 transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 50%;
    transition: all 0.3s;
    background: rgba(67, 67, 67, 0.75);
}


/* scroll buttons */
.slid-icon.active{
    opacity:1;
    transition: 0.3s ease;
    pointer-events: all;
}
.bttn-cont{
    opacity: 0;
    pointer-events: none;
}

.bttn-cont.active{
    opacity: 1;
    pointer-events: all;
}




.bg-grad-arrow {
    background: linear-gradient(90deg, #0C0C0C00 0%, #363939 100%);
}

.bg-grad-sidebar {
    background: transparent linear-gradient(164deg, #0C0C0C 0%, #0F0F0F 54%, #363939 100%) 0% 0% no-repeat padding-box;
}

.bg-grad-landing-img {
    background: linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.7;
}


.grad-rad-1 {
    background: transparent radial-gradient(closest-side at 50% 50%, #400E64 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    filter: blur(50px);
}

.grad-rad-2 {
    background: transparent radial-gradient(closest-side at 50% 50%, #0290AA 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    filter: blur(50px);
}

.grad-rad-3 {
    background: transparent radial-gradient(closest-side at 50% 50%, #23C392 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.35;
    filter: blur(50px);
}

.grad-lin-4 {
    background: transparent linear-gradient(163deg, rgba(255, 255, 255, 0.20) 0%, rgba(96, 96, 96, 0.20) 100%) 0% 0% no-repeat padding-box;
}


#music-bar {
    appearance: none;
    height: 0;
}

.card-hover:hover .card-play {

    opacity: .7;
}















/* input[type="range"]::-moz-range-progress {
    background-color: red; 
  }
  
  input[type="range"]::-moz-range-track {  
    background-color: blue;
  } */

/* .slider::-moz-range-thumb {
    height: 5px;
    background: #FF3838;
    cursor: pointer;
    border-radius: 3px;
    border:none;
}

.slider1::-webkit-slider-thumb {
    width: 50px;
}

.slider1::-moz-range-thumb {
    width: 50px;
} */

/* .volume::-webkit-slider-thumb {
    width:50px;
} */